﻿@model ApplySuplierModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Supliers.Apply").Text);
    //page class
    Html.AppendPageCssClassParts("html-apply-Suplier-page");
}
<div class="page apply-Suplier-page">
    <div class="page-title">
        <h1>@T("PageTitle.Supliers.Apply")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "ApplySuplier" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ApplySuplierTop })
        @if (Model.DisableFormInput)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="ApplySuplierAccount" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="Name" asp-postfix=":"></label>
                            <input asp-for="Name" class="name" placeholder="@T("Supliers.ApplyAccount.Name.Hint")"/>
                            <nop-required />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="Email" asp-postfix=":"></label>
                            <input asp-for="Email" class="name" placeholder="@T("Supliers.ApplyAccount.Email.Hint")"/>
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="Description" asp-postfix=":"></label>
                            <textarea asp-for="Description" class="description"></textarea>
                        </div>
                        <div class="inputs">
                            <label>@T("Supliers.ApplyAccount.Picture"):</label>
                            <input name="uploadedFile" type="file"/>
                        </div>
                        @await Html.PartialAsync("_SuplierAttributes", Model.SuplierAttributes)
                        @if (Model.DisplayCaptcha)
                        {
                            <nop-captcha />
                        }
                        @if (Model.TermsOfServiceEnabled)
                        {
                            <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#apply-Suplier').on('click', function() {
                                        if ($('#termsofservice').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, dont post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Supliers.ApplyAccount.AcceptTermsOfService.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                            </script>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice">@T("Supliers.ApplyAccount.AcceptTermsOfService")</label>
                                @if (Model.TermsOfServicePopup)
                                {
                                    <span class="read" id="read-acceptterms">@T("Supliers.ApplyAccount.AcceptTermsOfService.Read")</span>
                                    <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-acceptterms').on('click',
                                                function (e) {
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new {SystemName = "SuplierTermsOfService"})',
                                                        '@T("Supliers.ApplyAccount.AcceptTermsOfService")');
                                                });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <a class="read" id="read-acceptterms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("SuplierTermsOfService") })">@T("Supliers.ApplyAccount.AcceptTermsOfService.Read")</a>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" id="apply-Suplier" name="apply-Suplier" class="button-1 apply-Suplier-button" value="@T("Supliers.ApplyAccount.Button")" />
                </div>
            </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ApplySuplierBottom })
    </div> 
</div>
