﻿@model SuplierInfoModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.SuplierInfo").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-Suplierinfo-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.SuplierInfo })
}

<div class="page account-page Suplierinfo-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.SuplierInfo")</h1>
    </div>
    <div class="page-body">
        <form asp-route="CustomerSuplierInfo" method="post" enctype="multipart/form-data"> 
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Name" asp-postfix=":"></label>
                        <input asp-for="Name"/>
                        <nop-required />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email"/>
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="Description" asp-postfix=":"></label>
                        <textarea asp-for="Description"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PictureUrl" asp-postfix=":"></label>
                        <input name="uploadedFile" type="file" />
                        @if (!string.IsNullOrEmpty(Model.PictureUrl))
                        {
                            <div class="Suplier-picture">
                                <img src="@(Model.PictureUrl)" alt="picture" />
                                <input type="submit" name="remove-picture" class="button-2 remove-picture-button" value="@T("Account.SuplierInfo.Picture.Remove")" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        @if (Model.SuplierAttributes.Count > 0)
        {
            <div class="fieldset">
                <div class="form-fields">
                    @await Html.PartialAsync("_SuplierAttributes", Model.SuplierAttributes)
                </div>
            </div>
        }
            <div class="buttons">
                <input type="submit" value="@T("Common.Save")" name="save-info-button" class="button-1 save-Suplierinfo-button" />
            </div>
        </form>
    </div>
</div>