@*@model SuplierModel

<div class="panel-body">     
    <div class="sub-panel">
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "vendornotes-grid",
            UrlRead = new DataUrl("SuplierNotesSelect", "Suplier", new RouteValueDictionary { [nameof(Model.SuplierNoteSearchModel.SuplierId)] = Model.SuplierNoteSearchModel.SuplierId }),
            UrlDelete = new DataUrl("SuplierNoteDelete", "Suplier", null),
            Length = Model.SuplierNoteSearchModel.PageSize,
            LengthMenu = Model.SuplierNoteSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(SuplierNoteModel.CreatedOn))
                {
                    Title = T("Admin.Supliers.SuplierNotes.Fields.CreatedOn").Text,
                    Width = "200",
                    Render = new RenderDate()
                },
                new ColumnProperty(nameof(SuplierNoteModel.Note))
                {
                    Title = T("Admin.Supliers.SuplierNotes.Fields.Note").Text,
                    Encode = false
                },
                new ColumnProperty(nameof(SuplierNoteModel.Id))
                {
                    Title = T("Admin.Common.Delete").Text,
                    Width = "100",
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    ClassName =  NopColumnClassDefaults.Button
                }
            }
        })
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Supliers.SuplierNotes.AddTitle")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddSuplierNoteMessage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddSuplierNoteMessage" />
                    <span asp-validation-for="AddSuplierNoteMessage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" id="addSuplierNote" class="btn btn-primary">@T("Admin.Supliers.SuplierNotes.AddButton")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#addSuplierNote').click(function() {
            var vendorNoteMessage = $("#@Html.IdFor(model => model.AddSuplierNoteMessage)").val();
            $('#addSuplierNote').attr('disabled', true);

            var postData = {
                message: vendorNoteMessage,
                vendorId: '@(Model.Id)'
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@( Url.Action("SuplierNoteAdd", "Suplier"))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    if (data.Result) {
                        //reload grid
                        $("#vendornotes-grid").DataTable().ajax.reload();
                    } else {
                        //display errors if returned
                        display_nop_error(data);
                    }
                },
                complete: function (jqXHR, textStatus) {
                    $('#addSuplierNote').attr('disabled', false);
                }
            });
        });
    });
</script>*@