﻿@model SuplierModel

@{
    const string hideInfoBlockAttributeName = "SuplierPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideDisplayBlockAttributeName = "SuplierPage.HideDisplayBlock";
    var hideDisplayBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideDisplayBlockAttributeName, defaultValue: true);

    const string hideSeoBlockAttributeName = "SuplierPage.HideSEOBlock";
    var hideSeoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSeoBlockAttributeName, defaultValue: true);

    const string hideSuplierNotesBlockAttributeName = "SuplierPage.HideNotesBlock";
    var hideSuplierNotesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSuplierNotesBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "Suplier-advanced-mode" })
                </div>
            </div>
        </div> 

        <nop-panels id="Suplier-panels">
            <nop-panel asp-name="Suplier-info" asp-icon="fa fa-info" asp-title="@T("Admin.Supliers.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
            <nop-panel asp-name="Suplier-display" asp-icon="fa fa-television" asp-title="@T("Admin.Supliers.Display")" asp-hide-block-attribute-name="@hideDisplayBlockAttributeName" asp-hide="@hideDisplayBlock" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdate.Display", Model)</nop-panel>
            <nop-panel asp-name="Suplier-seo" asp-icon="fa fa-search-plus" asp-title="@T("Admin.Common.SEO")" asp-hide-block-attribute-name="@hideSeoBlockAttributeName" asp-hide="@hideSeoBlock" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdate.Seo", Model)</nop-panel>
            
            @if (Model.Id > 0)
            {
                <nop-panel asp-name="Suplier-products" asp-icon="fa fa-th-list" asp-title="@T("Admin.Supliers.SuplierNotes")" asp-hide-block-attribute-name="@hideSuplierNotesBlockAttributeName" asp-hide="@hideSuplierNotesBlock" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdate.Notes", Model)</nop-panel>
            }
                    
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.SuplierDetailsBlock, additionalData = Model })
        </nop-panels>
    </div>
</div>