@model SuplierModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Supliers.EditSuplierDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Supliers");
}

<form asp-controller="Suplier" asp-action="Edit" method="post"> 
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Supliers.EditSuplierDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Supliers.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="Suplier-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.SuplierDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="Suplier-delete" />
